.disabled {
  position: relative;
  overflow: hidden;
}
.disabled > .overflow {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(66, 66, 66, 0.18);
  color: rgba(255, 255, 255, 0.6);
  font-size: 30px;
  vertical-align: middle;
  text-align: center;
}
