<div class="container-fluid">
  <div class="row">

    <div class="col-md-6 col-lg-6 page-right"><!-- Picture --></div>

    <!-- Registration section -->
    <div class="col-md-6 col-lg-6 page-left">
      <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-md-2 col-lg-3">
            </div>
              <div class="col-md-8 col-lg-6">
                  <div class="login-panel">
                      <div class="panel-heading">
                          <h3 class="panel-title">Registration</h3>
                      </div>
                      <div class="panel-body">
                          <form (ngSubmit)="clear(); registration()">
                              <fieldset>
                                  <div class="form-group input-group-sm">
                                      <input [(ngModel)]="email" class="form-control" autocomplete="email" placeholder="Email" name="email" type="email" autofocus>
                                  </div>
                                  <div class="form-group input-group-sm">
                                      <input [(ngModel)]="name" class="form-control" autocomplete="name" placeholder="Name" name="name" type="text">
                                  </div>
                                  <div class="form-group input-group-sm">
                                      <input [(ngModel)]="password" class="form-control" autocomplete="new-password" placeholder="Password" name="password" type="password">
                                  </div>
                                  <div class="form-group input-group-sm">
                                      <input [(ngModel)]="password_confirmation" autocomplete="new-password" class="form-control" placeholder="Confirm password" name="password2" type="password">
                                  </div>
                                  <div *ngIf='error' class="alert alert-warning">{{error}}</div>
                                  <button type="submit" class="btn btn-lg btn-success btn-block">Continue</button>
                              </fieldset>
                              <hr>
                              <small class="form-text text-muted ta">Already registered?</small>
                              <button routerLink="/login" class="btn btn-lg btn-success btn-block btn-sm">Login</button>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-lg-3">
              </div>
          </div>
      </div>
    </div>

  </div>
</div>
