<div class="container featurette">

  <div class="row">
			<div class="col-md-12">
				<h2 class="featurette-heading">Where to find us?</h2>
        <h3 class="featurette-heading"><span class="text-muted">Czech technical university in Prague</span></h3>
				<p>Technická 1902/2, 166 27 - Dejvice-Praha 6</p>
			</div>
		</div>

    <div class="row">
      <div class="col-md-12">
        <!-- map -->
        <agm-map
          [latitude]="lat"
          [longitude]="lng"
          [zoom]="zoom"
          [disableDefaultUI]="false"
          [zoomControl]="true"
          (mapClick)="mapClicked($event)">

          <agm-marker
              *ngFor="let m of markers; let i = index"
              (markerClick)="clickedMarker(m.label, i)"
              [latitude]="m.lat"
              [longitude]="m.lng"
              [label]="m.label"
              [markerDraggable]="m.draggable"
              (dragEnd)="markerDragEnd(m, $event)">

            <agm-info-window>
              <strong>Faculty of Electrical Engineering</strong>
            </agm-info-window>

          </agm-marker>

        </agm-map>
        <!-- / map -->
      </div>
    </div>

</div>
