.container-fluid,
.container-fluid > .row {
  height: 100%;
}

.page-right {
  background-image: url("../../assets/budget_login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.panel-heading {
  text-align: center;
}

.panel-title {
  font-size: 32px;
  padding-bottom: 25px;
}

small {
  padding-bottom: 10px;
}

/* Hide right side on small devices */
@media only screen and (max-width: 800px) {
  .page-right {
    display: none;
  }
  .page-left {
    width: 100%;
  }
  .btn-success > a {
    margin: 10px;
  }
}
