<div class="container">
    <div class="row">

        <div class="col">

            <div class="jumbotron">
                <div class="jumbotron_item">
                    <h1 class="display-4">Create</h1>
                    <p class="lead">Create new Budgets and add payments to them. Payments can be attributed to Budget item (item of expenditure). The result you can overview in the section "Explore".</p>
                    <hr class="my-4">
                </div>
                <div class="jumbotron_item">
                    <h2><a routerLink="/dashboard/create-payment">Create Payment</a></h2>
                    <p>Add new payment to payment group</p>
                </div>
                <div class="jumbotron_item">
                    <h2><a href="#" data-toggle="modal" data-target="#groupModal">Create Budget</a></h2>
                    <p>Create Budget to separate payments (for example: Home, Work...)</p>
                </div>
                <div class="jumbotron_item">
                    <h2>Create Budget Item <span class="badge badge-secondary bg-green">New</span></h2>
                    <p>Add new Budget Items to Budget for second level separation (for example: Home(Budget) -> Food(Budget Itme))</p>
                    <figure>
                        <img class="border" src="assets/create_budget_item.gif" alt="">
                    </figure>
                </div>
            </div>


        </div>


        <div class="col">

            <div class="jumbotron">
                <h1 class="display-4">Explore</h1>
                <p class="lead">After adding some data you can overview your budgets. We have a lot of options for you!</p>
                <hr class="my-4">
                <div class="jumbotron_item">
                    <h2><a routerLink="/dashboard/budget-review">Budget review </a><span class="badge badge-secondary bg-green">New</span></h2>
                    <p>Shows all payments from selected budget</p>
                </div>
                <div class="jumbotron_item">
                    <h2><a routerLink="/dashboard/analysis">Budget analysis</a></h2>
                    <p>3 charts that can help you to manage your budgets.</p>
                    <figure>
                        <img src="assets/analysis.png" alt="">
                    </figure>
                </div>
                <div class="jumbotron_item">
                    <h2><a routerLink="/dashboard/timeline">Timeline digram</a></h2>
                    <p>Here you can see all your budgets on the timeline.</p>
                </div>
            </div>


        </div>



  </div>
</div>
